VIDEO_API_KEY=replace-with-at-least-16-random-characters
VIDEO_DATA_DIR=./data
VIDEO_MAX_WORKERS=2
VIDEO_RETENTION_HOURS=24
VIDEO_MAX_FILE_BYTES=2147483648
VIDEO_ANALYZE_TIMEOUT_SECONDS=60
YTDLP_BIN=yt-dlp
FFMPEG_BIN=ffmpeg
